<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootswatch@5.2/dist/morph/bootstrap.min.css"
			crossorigin="anonymous" />

		<title>PNPM Audit Report</title>
		<meta
			name="description"
			content="<%= vulnerabilities.total %> overall vulnerabilities found." />

		<style>
			.vulnerability-summary {
				margin-top: 20px;
				font-size: 1.2rem;
				text-align: center;
			}

			.vulnerability-summary .badge {
				margin-right: 10px;
			}

			.accordion-button {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 15px;
				padding-left: 20px;
				outline: none;
				box-shadow: none;
			}

			.accordion-button:focus {
				outline: none;
				box-shadow: none;
			}

			.accordion-button::after {
				transition: transform 0.3s ease;
			}

			.accordion-button.collapsed::after {
				transform: rotate(90deg);
			}

			.badge {
				flex-shrink: 0;
				width: 120px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row my-3">
				<div class="col-md text-center">
					<h1 class="h2">PNPM Audit Report</h1>
					<h3 class="h5">
						<%= advisories.length %> unique from <%= vulnerabilities.total %>
						overall vulnerabilities | <%= dependencies.total %> dependencies
					</h3>
					<div class="vulnerability-summary">
						<a href="#critical" class="badge bg-danger"
							>Critical: <%= vulnerabilities.critical %></a
						>
						<a href="#high" class="badge bg-warning"
							>High: <%= vulnerabilities.high %></a
						>
						<a href="#moderate" class="badge bg-info"
							>Moderate: <%= vulnerabilities.moderate %></a
						>
						<a href="#low" class="badge bg-success"
							>Low: <%= vulnerabilities.low %></a
						>
						<a href="#info" class="badge bg-secondary"
							>Info: <%= vulnerabilities.info %></a
						>
					</div>
				</div>
			</div>

			<div class="accordion" id="vulnerabilityAccordion">
				<% advisories.forEach(function(advisory, index) {
				advisory.findings.forEach(function(finding) { %>
				<div id="<%= advisory.severity %>" class="accordion-item">
					<h2 class="accordion-header" id="heading<%= index %>">
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse<%= index %>"
							aria-expanded="true"
							aria-controls="collapse<%= index %>">
							<span
								class="badge text-capitalize bg-<%= advisory.severity === 'critical' ? 'danger' : advisory.severity === 'high' ? 'warning' : advisory.severity === 'moderate' ? 'info' : 'success' %>">
								<%= advisory.severity %>
							</span>
							<span class="title-text"><%= advisory.title %></span>
						</button>
					</h2>
					<div
						id="collapse<%= index %>"
						class="accordion-collapse collapse show"
						aria-labelledby="heading<%= index %>">
						<div class="accordion-body">
							<div class="row">
								<div class="col-md-6">
									<ul>
										<li>
											Module:
											<a
												href="https://npmjs.com/package/<%= advisory.module_name %>"
												target="_blank"
												rel="noopener noreferrer"
												><%= advisory.module_name %></a
											>
										</li>
										<li>Installed version: <%= finding.version %></li>
										<li>
											Vulnerable versions: <%= advisory.vulnerable_versions %>
										</li>
										<li>Patched in: <%= advisory.patched_versions %></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul>
										<li>
											Published: <%= new
											Date(advisory.created).toLocaleDateString() %>
										</li>
										<% if (advisory.cves && advisory.cves.length > 0) { %>
										<li>CVEs: <%= advisory.cves.join(', ') %></li>
										<% } %> <% if (advisory.cwe && advisory.cwe.length > 0) { %>
										<li>CWE: <%= advisory.cwe.join(', ') %></li>
										<% } %>
									</ul>
								</div>
							</div>

							<h3>Overview</h3>
							<div><%- advisory.overview %></div>

							<% if (advisory.recommendation) { %>
							<h3>Remediation</h3>
							<div><%- advisory.recommendation %></div>
							<% } %> <% if (advisory.references) { %>
							<div class="references">
								<h3>References</h3>
								<ul>
									<%- advisory.references %>
								</ul>
							</div>
							<% } %> <% if (finding.paths && finding.paths.length > 0) { %>
							<div class="reasons">
								<h3>Reasons this module exists</h3>
								<ul>
									<% finding.paths.forEach(function(path) { %>
									<li><code><%= path %></code></li>
									<% }) %>
								</ul>
							</div>
							<% } %>

							<div class="d-flex justify-content-end mt-3">
								<a
									href="<%= advisory.url %>"
									class="btn btn-md btn-primary"
									target="_blank"
									rel="noopener noreferrer">
									More about this vulnerability
								</a>
							</div>
						</div>
					</div>
				</div>
				<% }); }); %>
			</div>

			<% if (advisories.length === 0) { %>
			<div class="col-md-12 alert alert-success">
				Congrats!!! No vulnerabilities have been found.
			</div>
			<% } %>

			<h6 class="col-md-12 mb-3 pb-3 text-end">
				Report generated at <%= new Date().toLocaleString() %>
			</h6>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/js/bootstrap.min.js"
			crossorigin="anonymous"></script>
	</body>
</html>
